<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.name %>,
      tu t'es inscrit pour <%= @attendance.event.title %> !</h1>
    <p>
      Tu a choisi Zebonplan pour rejoindre l'évènement <%= @attendance.event.title %>
      qui aura lieu à <%= @attendance.event.location %>
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur <strong>zebonplan</strong> !
  </body>
</html>
