<div class="jumbotron">
  <h2>Membre : <%= @user.name %></h2>
  <p class="highlight">
    <%= @user.description || "( il n'y a pas de description )" %>
  </p>
  <dl class="">
    <dt>Email :</dt>
    <dd class="highlight">
      <%= @user.email %>
    </dd>
  </dl>
  <% if @user == current_user %>

    <%= link_to edit_user_path(@user.id) do %>
      <i class="fa fa-pen"></i>
      Modifier ton profil
    <% end %><br/>

    <%= link_to edit_user_registration_path do %>
      <i class="fa fa-user-cog"></i>
      Changer les paramètres de connection
    <% end %>

  <% end %>

</div>

<div class="jumbotron">
  <h3>Ses évènements :</h3>
</div>
<div class="card-columns">
<% @user.admin_events.each do |e| %>
  <%= render partial: 'events/card', locals: {event: e} %>
<% end %>
</div>
