<div class="jumbotron">
  <h2>Tous les évènements :</h2>
</div>

<div class="card-columns">
<% @events.each do |e| %>
  <div class="card">
    <h4><%= e.title %></h4>
    <dl class="">
      <dt>Début</dt>
        <dd><%= e.start_date %></dd>
      <dt>Durée</dt>
        <dd><%= e.duration %> mn</dd>
      <dt>Prix</dt>
        <dd><%= e.price %>€</dd>
      <dt>Organisateur</dt>
        <dd><%= e.administrator.name %></dd>
    </dl>
  </div>
<% end %>
</div>
