
    <header class="navbar bg-info navbar-dark">
      <%= link_to root_path, class: "navbar-brand" do %>
        <h1>ZeBonPlan</h1>
      <% end %>

      <% if user_signed_in? %>
        <nav>
          <%= link_to new_event_path do %>
            <i class="fa fa-plus fa-2x"></i>
            Nouvel evenement
          <% end %>
        </nav>
      <% end %>

      <nav>

        <% if user_signed_in? %>

          <div class="dropdown show">
            <a class="dropdown-toggle"
            href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
              <i class="fa fa-user fa-2x"></i>
              <%= current_user.name %>
            </a>

            <div class="dropdown-menu dropdown-menu-right"
            aria-labelledby="dropdownMenuLink">
              <%= link_to user_path(current_user.id),
              class: "dropdown-item" do %>
                Mon Profil
              <% end %>
              <%= link_to destroy_user_session_path,
              method: :delete, class: "dropdown-item" do %>
                Se Déconnecter
              <% end %>
            </div>
          </div>

        <% else %>


          <div class="dropdown show">
            <a class="dropdown-toggle"
            href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
              <i class="fa fa-user-cog fa-2x"></i>
              Connexion
            </a>

            <div class="dropdown-menu dropdown-menu-right"
            aria-labelledby="dropdownMenuLink">
              <%= link_to new_user_session_path,
              class: "dropdown-item" do %>
                Se Connecter
              <% end %>
              <%= link_to new_user_registration_path,
              class: "dropdown-item" do %>
                S'inscrire
              <% end %>
            </div>
          </div>

        <% end %>
      </nav>
    </header>
