<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "ZeBonPlan" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>

    <%= render 'layouts/cdn_styles' %>
    <%= render 'layouts/cdn_scripts' %>
  </head>

  <body>

    <%= render 'layouts/header' %>
    <%= render 'layouts/messages' %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

  </body>

</html>
